@model Admin.Models.Tour
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Tour";
}
<h2>Add Product</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TourName"></label>
        <input asp-for="TourName" class="form-control" />
        <span asp-validation-for="TourName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Departure"></label>
        <input asp-for="Departure" class="form-control">
        <span asp-validation-for="Departure" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destination1"></label>
        <input asp-for="Destination1" class="form-control" />
        <span asp-validation-for="Destination1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destination2"></label>
        <input asp-for="Destination2" class="form-control" />
        <span asp-validation-for="Destination2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destination3"></label>
        <input asp-for="Destination3" class="form-control" />
        <span asp-validation-for="Destination3" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxQuantity"></label>
        <input asp-for="MaxQuantity" class="form-control" />
        <span asp-validation-for="MaxQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" />
        <span asp-validation-for="Length" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceForAdult"></label>
        <input asp-for="PriceForAdult" class="form-control" />
        <span asp-validation-for="PriceForAdult" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceForChildren"></label>
        <input asp-for="PriceForChildren" class="form-control" />
        <span asp-validation-for="PriceForChildren" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NdaysNnights"></label>
        <input asp-for="NdaysNnights" class="form-control" />
        <span asp-validation-for="NdaysNnights" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JourneyHightlight"></label>
        <input asp-for="JourneyHightlight" class="form-control" />
        <span asp-validation-for="JourneyHightlight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TravelingSchedule"></label>
        <input asp-for="TravelingSchedule" class="form-control" />
        <span asp-validation-for="TravelingSchedule" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Link"></label>
        <input asp-for="Link" class="form-control" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>