html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.product-image {
    width 70px;
    height 70px;
    display: block; /* Make the image behave like a block element */
    margin: 0 auto; /* Center the image horizontally */
}
