USE [master]
GO
/****** Object:  Database [63TinhThanh]    Script Date: 4/7/2024 2:36:01 PM ******/
CREATE DATABASE [63TinhThanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'63TinhThanh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\63TinhThanh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\AA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [63TinhThanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [63TinhThanh]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cam_Nang_Du_Lich]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cam_Nang_Du_Lich](
	[Travel_Guide_ID] [nchar](10) NOT NULL,
	[Travel_Guide_Title_Title] [nvarchar](250) NOT NULL,
	[Cover_Image] [varchar](250) NOT NULL,
	[Link] [nchar](50) NOT NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[ID_Tour] [nchar](5) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[QuantityForAdult] [int] NOT NULL,
	[QuantityForChildren] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTimKiem]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTimKiem](
	[Destination] [nvarchar](100) NOT NULL,
	[CheckInDay] [date] NOT NULL,
	[CheckOutDau] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[ID_User] [int] NOT NULL,
	[Tour_ID] [nchar](10) NOT NULL,
	[time] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC,
	[Tour_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Navigation_Bar]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navigation_Bar](
	[ID_Menu] [int] NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Order] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Active] [bit] NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[Province] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Tour_ID] [nchar](5) NOT NULL,
	[Tour_Name] [nvarchar](250) NOT NULL,
	[Departure] [nvarchar](50) NOT NULL,
	[IDCategory] [tinyint] NOT NULL,
	[Destination_1] [nvarchar](50) NOT NULL,
	[Destination_2] [nvarchar](50) NOT NULL,
	[Destination_3] [nvarchar](50) NOT NULL,
	[Image_1] [varchar](250) NOT NULL,
	[Image_2] [varchar](250) NOT NULL,
	[Image_3] [varchar](250) NOT NULL,
	[PriceForAdult] [decimal](18, 0) NOT NULL,
	[PriceForChildren] [decimal](18, 0) NOT NULL,
	[MaxQuantity] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[NDaysNNights] [nvarchar](20) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Journey_Hightlight] [ntext] NOT NULL,
	[Traveling_Schedule] [ntext] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Link] [varchar](50) NOT NULL,
	[Hide] [bit] NOT NULL,
	[Like] [bit] NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[Tour_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/7/2024 2:36:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Permission] [tinyint] NOT NULL,
	[Hide] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Cam_Nang_Du_Lich] ([Travel_Guide_ID], [Travel_Guide_Title_Title], [Cover_Image], [Link], [Hide]) VALUES (N'TG001     ', N'Kinh nghiệm du lịch Trung Quốc từ A – Z đầy đủ và chi tiết nhất', N'TG001/TG001_1.jpg', N'TG001-link                                        ', 0)
INSERT [dbo].[Cam_Nang_Du_Lich] ([Travel_Guide_ID], [Travel_Guide_Title_Title], [Cover_Image], [Link], [Hide]) VALUES (N'TG002     ', N'Bỏ túi kinh nghiệm khi đi du lịch Đà Lạt: Ăn gì, chơi gì, Ở đâu?', N'TG002/TG002_1.jpg', N'TG002-link                                        ', 0)
GO
INSERT [dbo].[Like] ([ID_User], [Tour_ID], [time]) VALUES (1, N'DT002     ', N'2012/5/8  ')
INSERT [dbo].[Like] ([ID_User], [Tour_ID], [time]) VALUES (1, N'DT003     ', N'2021/8/9  ')
GO
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (1, N'Tour Trong Nước', 1, N'tour-trong-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (2, N'Tour Ngoài Nước', 2, N'tour-ngoai-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (3, N'Cẩm nang du lịch', 3, N'cam-nang-du-lich', 1, 0)
GO
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Đà Lạt')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bắc Giang')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [Password], [Name], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Permission], [Hide]) VALUES (1, N'$2a$11$zCAFFESHjXyRUQLutKh.OuKuhycJUf.mMoDqzjAXNF1OH9TnK8VtO', N'quy', CAST(N'0001-01-01' AS Date), 0, N'123456789', N'quy@gmail.com', 0, 0)
INSERT [dbo].[User] ([ID_User], [Password], [Name], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Permission], [Hide]) VALUES (5, N'$2a$11$MbajGIixnFzoKpR.MNE4l.QWfWJ24h1zc0QvP7l4.ZeCrfBzp.loS', N'nguyen huu quy', CAST(N'0001-01-18' AS Date), 0, N'352477783', N'quy123@gmail.com', 1, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
