USE [master]
GO
/****** Object:  Database [Just_Travel]    Script Date: 4/16/2024 11:49:31 AM ******/
CREATE DATABASE [Just_Travel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Just_Travel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\Just_Travel.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Just_Travel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\Just_Travel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Just_Travel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Just_Travel]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID_Category] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Hide] [bit] NOT NULL,
 CONSTRAINT [PK__Categori__6DB3A68A0405C12A] PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country_Cities]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_Cities](
	[ID] [char](10) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[ID_Discount] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Percentage] [float] NOT NULL,
	[EXPDate] [datetime] NOT NULL,
	[Remain] [int] NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[ID_Discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[ID_Invoice] [varchar](50) NOT NULL,
	[ID_Tour] [varchar](10) NOT NULL,
	[ID_User] [int] NOT NULL,
	[StaticsticDate] [datetime] NULL,
	[InvoiceDate] [datetime] NULL,
	[QuantityAdult] [int] NULL,
	[QuantityChildren] [int] NULL,
	[StarDate] [date] NULL,
	[EndDate] [date] NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__InvoiceD__0540CA604785406E] PRIMARY KEY CLUSTERED 
(
	[ID_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[ID_Like] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[ID_Tour] [varchar](10) NOT NULL,
 CONSTRAINT [PK__Like__72140ECF98CDAB72] PRIMARY KEY CLUSTERED 
(
	[ID_Like] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Navigation_Bar]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navigation_Bar](
	[ID_Menu] [int] NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Order] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Active] [bit] NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[ID_Search] [int] IDENTITY(1,1) NOT NULL,
	[ID_User] [int] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[SearchDate] [datetime] NULL,
	[Order] [int] NOT NULL,
	[Hide] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Search] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistical]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistical](
	[CreatedDate] [datetime] NOT NULL,
	[ID_User] [int] NOT NULL,
	[DomesticTours] [int] NOT NULL,
	[OverseasTour] [int] NOT NULL,
	[CustomersNumber] [int] NOT NULL,
	[TotalAmount] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[Province] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[ID_Tour] [varchar](10) NOT NULL,
	[Tour_Name] [nvarchar](250) NOT NULL,
	[IDCategory] [int] NOT NULL,
	[Destination_1] [nvarchar](50) NOT NULL,
	[Destination_2] [nvarchar](50) NOT NULL,
	[Destination_3] [nvarchar](50) NOT NULL,
	[Image_1] [varchar](250) NOT NULL,
	[Image_2] [varchar](250) NOT NULL,
	[Image_3] [varchar](250) NOT NULL,
	[PriceForAdult] [decimal](18, 0) NOT NULL,
	[PriceForChildren] [decimal](18, 0) NOT NULL,
	[NDaysNNights] [nvarchar](20) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Journey_Hightlight] [ntext] NOT NULL,
	[Traveling_Schedule] [ntext] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Link] [varchar](50) NOT NULL,
	[Hide] [bit] NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[ID_Tour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelGuide]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelGuide](
	[ID_TravelGuide] [varchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[Cover_Image] [varchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Order] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Hide] [bit] NOT NULL,
 CONSTRAINT [PK__TravelGu__BC5EA68C0A7AB681] PRIMARY KEY CLUSTERED 
(
	[ID_TravelGuide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/16/2024 11:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[PhoneNumber] [varchar](11) NULL,
	[Email] [varchar](30) NULL,
	[Permission] [int] NULL,
	[Password] [varchar](255) NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK__User__B97FFDFB38522D60] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([ID_Category], [CategoryName], [Order], [Link], [Hide]) VALUES (1, N'Tour trong nước', 1, N'tour-trong-nuoc', 0)
INSERT [dbo].[Categories] ([ID_Category], [CategoryName], [Order], [Link], [Hide]) VALUES (2, N'Tour ngoài ngoài', 2, N'tour-ngoai-nuoc', 0)
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([ID_Discount], [Code], [Percentage], [EXPDate], [Remain]) VALUES (2, N'NHOM8', 20, CAST(N'2024-07-15T00:00:00.000' AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
INSERT [dbo].[InvoiceDetails] ([ID_Invoice], [ID_Tour], [ID_User], [StaticsticDate], [InvoiceDate], [QuantityAdult], [QuantityChildren], [StarDate], [EndDate], [Price], [Status]) VALUES (N'638488000768598915', N'DT004', 1, NULL, CAST(N'2024-04-15T17:48:07.817' AS DateTime), NULL, NULL, NULL, NULL, CAST(1912000 AS Decimal(18, 0)), 0)
INSERT [dbo].[InvoiceDetails] ([ID_Invoice], [ID_Tour], [ID_User], [StaticsticDate], [InvoiceDate], [QuantityAdult], [QuantityChildren], [StarDate], [EndDate], [Price], [Status]) VALUES (N'638488001577249341', N'DT004', 1, NULL, CAST(N'2024-04-15T17:49:37.440' AS DateTime), NULL, NULL, NULL, NULL, CAST(1912000 AS Decimal(18, 0)), 1)
INSERT [dbo].[InvoiceDetails] ([ID_Invoice], [ID_Tour], [ID_User], [StaticsticDate], [InvoiceDate], [QuantityAdult], [QuantityChildren], [StarDate], [EndDate], [Price], [Status]) VALUES (N'638488010758918427', N'DT003', 1, NULL, CAST(N'2024-04-15T18:04:47.183' AS DateTime), NULL, NULL, NULL, NULL, CAST(500000 AS Decimal(18, 0)), 0)
GO
SET IDENTITY_INSERT [dbo].[Like] ON 

INSERT [dbo].[Like] ([ID_Like], [ID_User], [ID_Tour]) VALUES (1, 1, N'DT003')
SET IDENTITY_INSERT [dbo].[Like] OFF
GO
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (1, N'Tour Trong Nước', 1, N'tour-trong-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (2, N'Tour Ngoài Nước', 2, N'tour-ngoai-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (3, N'Cẩm nang du lịch', 3, N'cam-nang-du-lich', 1, 0)
GO
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Đà Lạt')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bắc Giang')
GO
INSERT [dbo].[TravelGuide] ([ID_TravelGuide], [Title], [Description], [Content], [Cover_Image], [CreatedDate], [Order], [Link], [Hide]) VALUES (N'TV001', N'test', N'aa', N'qq', N'aa', CAST(N'2021-09-08T00:00:00.000' AS DateTime), 1, N'test-link', 0)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Permission], [Password], [Hide]) VALUES (1, N'quy', CAST(N'0001-01-02' AS Date), 0, N'0123456789', N'quy@gmail.com', 0, N'$2a$11$uzA7KMjVgKfWqYuYSNLw8OEVbnLr4uqlW5QgbgmjzCXYIHES0RHT6', 0)
INSERT [dbo].[User] ([ID_User], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Permission], [Password], [Hide]) VALUES (2, N'quyadmin', CAST(N'0001-01-06' AS Date), 0, N'0987654321', N'quyadmin@gmail.com', 1, N'$2a$11$yGpnvFBVid4UCu2OuMXcu.EopFYu9fIkx2jpitaBxleGH1.n6HM6G', 0)
INSERT [dbo].[User] ([ID_User], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Permission], [Password], [Hide]) VALUES (4, N'Music', CAST(N'2003-02-11' AS Date), 0, N'0352477783', N'tranthihieu321@gmail.com', 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__85FB4E38470993A8]    Script Date: 4/16/2024 11:49:31 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__85FB4E38470993A8] UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105348EDC7728]    Script Date: 4/16/2024 11:49:31 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D105348EDC7728] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__Creat__4BAC3F29] FOREIGN KEY([StaticsticDate])
REFERENCES [dbo].[Statistical] ([CreatedDate])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK__InvoiceDe__Creat__4BAC3F29]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__ID_Us__4D94879B] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK__InvoiceDe__ID_Us__4D94879B]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Tour] FOREIGN KEY([ID_Tour])
REFERENCES [dbo].[Tour] ([ID_Tour])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Tour]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK__Like__ID_UserI__4F7CD00D] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK__Like__ID_UserI__4F7CD00D]
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD  CONSTRAINT [FK__SearchHis__ID_Us__5070F446] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[SearchHistory] CHECK CONSTRAINT [FK__SearchHis__ID_Us__5070F446]
GO
ALTER TABLE [dbo].[Statistical]  WITH CHECK ADD  CONSTRAINT [FK__Statistic__ID_Us__5165187F] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Statistical] CHECK CONSTRAINT [FK__Statistic__ID_Us__5165187F]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Categories] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Categories] ([ID_Category])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_Categories]
GO
USE [master]
GO
