USE [63TinhThanh]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/3/2024 8:54:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cam_Nang_Du_Lich]    Script Date: 4/3/2024 8:54:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cam_Nang_Du_Lich](
	[Travel_Guide_ID] [nchar](10) NOT NULL,
	[Travel_Guide_Title_Title] [nvarchar](250) NOT NULL,
	[Cover_Image] [varchar](250) NOT NULL,
	[Link] [nchar](50) NOT NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTimKiem]    Script Date: 4/3/2024 8:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTimKiem](
	[Destination] [nvarchar](100) NOT NULL,
	[CheckInDay] [date] NOT NULL,
	[CheckOutDau] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Navigation_Bar]    Script Date: 4/3/2024 8:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navigation_Bar](
	[ID_Menu] [int] NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Order] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[Active] [bit] NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 4/3/2024 8:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[Province] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 4/3/2024 8:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Tour_ID] [nchar](20) NOT NULL,
	[Tour_Name] [nvarchar](250) NOT NULL,
	[IDCategory] [tinyint] NOT NULL,
	[Destination_1] [nvarchar](50) NOT NULL,
	[Destination_2] [nvarchar](50) NULL,
	[Destination_3] [nvarchar](50) NULL,
	[Image_1] [varchar](250) NOT NULL,
	[Image_2] [varchar](250) NOT NULL,
	[Image_3] [varchar](250) NOT NULL,
	[PriceForAdult] [decimal](18, 0) NOT NULL,
	[PriceForChildren] [decimal](18, 0) NOT NULL,
	[MaxQuantity] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[NDaysNNights] [nvarchar](20) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Link] [nchar](50) NOT NULL,
	[Hide] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cam_Nang_Du_Lich] ([Travel_Guide_ID], [Travel_Guide_Title_Title], [Cover_Image], [Link], [Hide]) VALUES (N'TG001     ', N'Kinh nghiệm du lịch Trung Quốc từ A – Z đầy đủ và chi tiết nhất', N'TG001/TG001_1.jpg', N'TG001-link                                        ', 0)
INSERT [dbo].[Cam_Nang_Du_Lich] ([Travel_Guide_ID], [Travel_Guide_Title_Title], [Cover_Image], [Link], [Hide]) VALUES (N'TG002     ', N'Bỏ túi kinh nghiệm khi đi du lịch Đà Lạt: Ăn gì, chơi gì, Ở đâu?', N'TG002/TG002_1.jpg', N'TG002-link                                        ', 0)
GO
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (1, N'Tour Trong Nước', 1, N'tour-trong-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (2, N'Tour Ngoài Nước', 2, N'tour-ngoai-nuoc', 1, 0)
INSERT [dbo].[Navigation_Bar] ([ID_Menu], [Title], [Order], [Link], [Active], [Hide]) VALUES (3, N'Cẩm nang du lịch', 3, N'cam-nang-du-lich', 1, 0)
GO
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Đà Lạt')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bắc Giang')
GO
