@{
    ViewData["Title"] = "VerifyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model testNETCORE.ViewModels.UserViewModel

<h4>Change Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Old Password</label>
                <input name="oldPassword" class="form-control" type="password" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Change Password</button>
            </div> 
        </form>
    </div>
    @ViewData["test"]
</div>

<div>
    <a asp-action="Info">Back to User Info</a>
</div>


