@model testNETCORE.Areas.Admin.Controllers.AdminModalViews.Admin_Domestic_Tour
@{
    ViewData["TiTle"] = "Tour Trong Nước";
    Layout = "~/Admin/Views/Shared/_LayoutAdmin";
}

@foreach(var item in Model.Admin_Tour_List)
{
    <a href="tour-trong-nuoc/@item.Link-@item.IdTour">
        <div class="row bg-light card justify-content-center align-items-center chooseLike">
            <div class="col-md-12">
                <div class="row py-3">
                    <div class="col-lg-4">
                        <img class="rounded justify-content-center align-items-center" width="100%" height="auto" src="~/img/@item.Image1">
                    </div>
                    <div class="col-lg-8">
                        <h5>@item.TourName</h5>
                        <p><span style="color:darkseagreen">@item.NdaysNnights</span></p>
                        <h5 style="bottom:0" class="text-danger">Giá: @item.PriceForAdult.ToString("N0") VND/Khách</h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <hr>
}
