
@{
    ViewData["Title"] = "Domestic_Tour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Tour Trong Nước</h1>
        </div>
        <style>
            .chooseLike {
                transition: transform 0.3s ease;
            }

            .chooseLike:hover {
                 transform: translateY(-5px);
            }

            .deledeBtn:hover {
                color: red;
            }
        </style>
        <div class="row wow fadeInUp">
            <div class="col-lg-3">
                <div class="col-lg-12 col-sm-6" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <ul class="list-group">
                        <h4 class="bg-light text-danger text-center rounded p-2">Những Địa Điểm Hot</h4>
                        <div class="row">
                        </div>
                        <li class="list-group-item"><a href="#">SaPa</a></li>
                        <li class="list-group-item"><a href="#">Đà Lạt</a></li>
                        <li class="list-group-item"><a href="#">Mũi Né</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-0">
                <a href="#">
                    <div class="row bg-light card justify-content-center align-items-center chooseLike">
                        <div class="col-md-12 g-4">
                            <div class="row py-3">
                                <div class="col-lg-4">
                                    <img class="rounded justify-content-center align-items-center" width="100%" height="auto" src="https://tourngay.vn/wp-content/uploads/2023/11/Moc-Chau-800x480.jpg">
                                </div>
                                <div class="col-lg-8">
                                    <h2>Tour Điện Biên 4N3Đ: ĐIỆN BIÊN – SƠN LA – MỘC CHÂU</h2>
                                    <div class="thoigian-danhgia">
                                        <p><span style="color:darkseagreen">4 ngày 3 đêm | Rất tốt</span></p>
                                    </div>
                                    <ul style="color:darkcyan">
                                        <li>Đèo Pha Đin</li>
                                        <li>Đồi chè Trái Tym</li>
                                        <li>Thung lũng mận Nà Ka</li>
                                        <li>Thác Dải Yếm</li>
                                        <li>Mường Phăng</li>
                                    </ul>
                                    <p>Giá:1.500.000/người</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <hr>
                <a href="#">
                    <div class="row bg-light card justify-content-center align-items-center chooseLike">
                        <div class="col-md-12 g-4">
                            <div class="row py-3">
                                <div class="col-lg-4">
                                    <img class="rounded justify-content-center align-items-center" width="100%" height="auto" src="https://tourngay.vn/wp-content/uploads/2023/11/Cung-duong-chu-S-800x480.jpg.webp">
                                </div>
                                <div class="col-lg-8">
                                    <h2>Tour Mộc Châu 2N1Đ: HÀ NỘI – MỘC CHÂU – CẦU KÍNH BẠCH LONG</h2>
                                    <div class="thoigian-danhgia">
                                        <p><span style="color:darkseagreen">2 Ngày 1 Đêm | Rất tốt</span></p>
                                    </div>
                                    <ul style="color:darkcyan">
                                        <li>Đèo Pha Đin</li>
                                        <li>Đồi chè Trái Tym</li>
                                        <li>Thung lũng mận Nà Ka</li>
                                        <li>Thác Dải Yếm</li>
                                        <li>Mường Phăng</li>
                                    </ul>
                                    <p>Giá:1.500.000/người</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
