
@{
    ViewData["Title"] = "Overseas_Tour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Tour Ngoài Nước</h1>
        </div>
        <style>
            .chooseLike {
                transition: transform 0.3s ease;
            }

                .chooseLike:hover {
                    transform: translateY(-5px);
                }

            .deledeBtn:hover {
                color: red;
            }
        </style>
        <div class="row wow fadeInUp">
            <div class="col-lg-3">
                <div class="col-lg-12 col-sm-6" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <ul class="list-group">
                        <h4 class="bg-light text-danger text-center rounded p-2">Những Địa Điểm Hot</h4>
                        <div class="row">
                        </div>
                        <li class="list-group-item"><a href="#">Nhật Bản</a></li>
                        <li class="list-group-item"><a href="#">Trung Quốc</a></li>
                        <li class="list-group-item"><a href="#">Hàn Quốc</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-0">
                <a href="#">
                    <div class="row bg-light card justify-content-center align-items-center chooseLike">
                        <div class="col-md-12 g-4">
                            <div class="row py-3">
                                <div class="col-lg-4">
                                    <img class="rounded justify-content-center align-items-center" width="100%" height="auto" src="https://tourngay.vn/wp-content/uploads/2023/11/Phat-Di-Lac-800x480.jpg.webp">
                                </div>
                                <div class="col-lg-8">
                                    <h2>Tour Trung Quốc: HÀ KHẨU – BÌNH BIÊN – DI LẶC – KIẾN THỦY – MÔNG TỰ</h2>
                                    <div class="thoigian-danhgia">
                                        <p><span style="color:darkseagreen">3 ngày 3 đêm | Rất tốt</span></p>
                                    </div>
                                    <ul style="color:darkcyan">
                                        <li>Đèo Pha Đin</li>
                                        <li>Đồi chè Trái Tym</li>
                                        <li>Thung lũng mận Nà Ka</li>
                                        <li>Thác Dải Yếm</li>
                                        <li>Mường Phăng</li>
                                    </ul>
                                    <p>Giá:1.500.000/người</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <hr>
                <a href="#">
                    <div class="row bg-light card justify-content-center align-items-center chooseLike">
                        <div class="col-md-12 g-4">
                            <div class="row py-3">
                                <div class="col-lg-4">
                                    <img class="rounded justify-content-center align-items-center" width="100%" height="auto" src="https://tourngay.vn/wp-content/uploads/2023/11/Chua-Thuyen-800x480.jpg.webp">
                                </div>
                                <div class="col-lg-8">
                                    <h2>Tour Thái Lan: BANGKOK – PATTAYA – CÔNG VIÊN NONGNOOCH – LIGHTING ART MUSEUM & BALLOON GARDEN</h2>
                                    <div class="thoigian-danhgia">
                                        <p><span style="color:darkseagreen">5 Ngày 4 Đêm | Rất tốt</span></p>
                                    </div>
                                    <ul style="color:darkcyan">
                                        <li>Đèo Pha Đin</li>
                                        <li>Đồi chè Trái Tym</li>
                                        <li>Thung lũng mận Nà Ka</li>
                                        <li>Thác Dải Yếm</li>
                                        <li>Mường Phăng</li>
                                    </ul>
                                    <p>Giá:1.500.000/người</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


