@model testNETCORE.ViewModels.Statistics_ViewModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_Layout_Successful_Payment.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Tour Ngoài Nước</h1>
        </div>
        <style>
            .chooseLike {
                transition: transform 0.3s ease;
            }

                .chooseLike:hover {
                    transform: translateY(-5px);
                }

            .deledeBtn:hover {
                color: red;
            }
        </style>

            <div class="col-lg-9 my-0">
                @foreach (var item in Model.InvoiceList)
                {
                    <a href="Thong ke">
                        <div class="row bg-light card justify-content-center align-items-center chooseLike">
                            <div class="col-md-12">
                                <div class="row py-3">
                                    <div class="col-lg-4">
                                        <h5 class="text-danger">Giá:/@item.Price - Tour: @item.IdTour</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <hr>
                }
            </div>
        </div>
    </div>
</div>


