
@{
    ViewData["Title"] = "SuccessFul_Payment";
    Layout = "~/Views/Shared/Layout_Test.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán Momo với JustTravel</h1>
    
    <div class="container">
        <h1 class="text-success">Thanh Toán Thành Công</h1>
        <p>Order ID: <strong></strong></p>
        <p>Amount: <strong></strong></p>
        <p>Order Info: <strong></strong></p>
        @ViewData["test"]
    </div>
</div>

