@model Admin.Models.Tour
<h2>@Model.TourName</h2>
<div>
    <h3>
        Price for Adult: @Model.PriceForAdult
    </h3>
    <h3>
        Price for Children: @Model.PriceForChildren
    </h3>
    <a asp-action="Index">Back to List</a>
</div>